<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="caminho_origem" value="C:\teste\origem\" />
    <add key="caminho_destino" value="C:\teste\destino\" />    
    <add key="extensao" value="" />
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>